**/.idea/
**/.DS_Store
**/*.iml
**/bin/
**/target/
**/.settings/
**/.metadata/
**/.classpath
**/.project
**/logback.logdir_IS_UNDEFINED/
**/*.log
**/.vscode/
**/dist/
**/src-merging/
**/node_modules/
**/.wepycache
**/package-lock.json
**/**/*.iml
.gitattributes
